{% include 'abakozi/nav.html'%}


<section class="w-full p-4">
    <div class="w-full h-64 p-4 text-md">
        
{% if msger%}
<div class="">
<div class="w-auto md:mt-12 mb-4 text-center bg-red-100 border border-red-400 text-red-900 px-3 py-2 rounded " role="alert">
    <span class="block sm:inline text-semibold">{{msger}}</span>
  </div>
</div>
{%endif%}



{% if msg %}
<div class="">
<div class="w-auto md:mt-12 mb-4 text-center bg-green-100 border border-green-400 text-green-900 px-3 py-2 rounded " role="alert">
    <span class="block sm:inline text-semibold">{{msg}}</span>
  </div>
</div>
{%endif%}
   <!-- component -->
<form method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
<div class="bg-white  rounded-lg p-6">
    <div class="grid lg:grid-cols-2 gap-6">
      <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="name" class="bg-white text-gray-600 px-1">Title *</label>
          </p>
        </div>
        <p>
          <input name="title" id="name" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 text-gray-900 outline-none block h-full w-full">
        </p>
      </div>

      <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="lastname" class="bg-white text-gray-600 px-1">Link *</label>
          </p>
        </div>
        <p>
          <input name="link" id="lastname" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 outline-none block h-full w-full">
        </p>
      </div>
    

      <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="lastname" class="bg-white text-gray-600 px-1">Category *</label>
          </p>
        </div>
        <p>
          <select name="category" class="py-1 px-1 outline-none block h-full w-full">
              <option value="">Choose any Category</option>
            {% for dt in categ%}

<option value="{{dt.id}}">{{dt.title}}</option>
{%endfor%}
          </select>
        </p>
      </div>


      <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="lastname" class="bg-white text-gray-600 px-1">Cover Image *</label>
          </p>
        </div>
        <p>
          <input name="image" id="lastname" autocomplete="false" tabindex="0" type="file" class="py-1 px-1 outline-none block h-full w-full">
        </p>
      </div>


      <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="username" class="bg-white text-gray-600 px-1">Description *</label>
          </p>
        </div>
        <p>
          <textarea name="desc" rows="4" class="py-1 px-1 outline-none block h-full w-full"></textarea>
        </p>
      </div>

    </div>
    <div class=" mt-6 pt-3">
      <button type="submit" class="rounded text-gray-100 px-3 py-2 bg-gray-600 hover:shadow-inner hover:bg-gray-700 transition-all duration-300">
        Submit
      </button>
    </div>
  </div>     
</form>    
    










<!-- component -->
<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div class="flex items-center justify-center">
	<div class="col-span-12">
		<div class="overflow-auto lg:overflow-visible ">
			<table class="table text-gray-400 border-separate space-y-6 text-sm">
				<thead class="bg-gray-800 text-gray-500">
					<tr>
						<th class="p-3">Title</th>
						<th class="p-3 text-left">Category</th>
						<th class="p-3 text-left">link</th>
						<th class="p-3 text-left">Action</th>
					</tr>
				</thead>
				<tbody>
                    {% for dt in vd %}
					<tr class="bg-gray-800">
						<td class="p-3">
							<div class="flex align-items-center">
								<img class="rounded-full h-12 w-12  object-cover" src="{{dt.image.url}}" alt="unsplash image">
								<div class="p-3">
									<div class="">{{dt.title}}</div>
								</div>
							</div>
						</td>
						<td class="p-3">
							{{dt.categ.title}}
						</td>
						<td class="p-3 font-bold">
							{{dt.category}}
						</td>
					
						<td class="p-3 ">
							<a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
								<i class="material-icons-outlined text-base">visibility</i>
							</a>
							<a href="{% url 'editmov' dt.id %}" class="text-gray-400 hover:text-gray-100  mx-2">
								<i class="material-icons-outlined text-base">edit</i>
							</a>
							<a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
								<i class="material-icons-round text-base">delete_outline</i>
							</a>
						</td>
					</tr>{%endfor%}





				
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>
        
     </div>
    </section>
  


  </main>
</body>
</html>