{% include 'nav.html'%}



<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>



<div class="min-w-screen min-h-screen  flex items-center justify-center md:px-5 py-5">
    <div class="bg-gray-100 text-gray-500 rounded shadow-xl w-full overflow-hidden" style="max-width:1000px">
        <div class="md:flex w-full">
            <div class="hidden md:block w-1/2  py-10 px-10">
             <img src="../static/login.svg"/>
                </div>
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900">LOGIN</h1>
            
                </div>
                {% for message in messages %}
                {% if message %}
                <div class="">
                <div class="w-auto md:mt-12 mb-4 text-center bg-red-100 border border-red-400 text-red-900 px-3 py-2 rounded " role="alert">
                    <span class="block sm:inline text-semibold">{{message}}</span>
                  </div>
                </div>
                {%endif%}
                {%endfor%}
                <div>

               <form method="POST" >
                {% csrf_token %}
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs font-semibold px-1">Username</label>
                            <div class="flex">
                                <div class=" text-center pointer-events-none flex items-center justify-center"></div>
                                <input name="username" type="email" class="w-full px-2 py-2 rounded border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="johnsmith@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Password</label>
                            <div class="flex">
                                <div class=" text-center pointer-events-none flex items-center justify-center"></div>
                                <input name="pass" type="password" class="w-full px-2 py-2 rounded border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="************">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <button class="block w-full max-w-xs mx-auto bg-gray-600 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">LOGIN</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="">
    <div class="font-serif text-gray-900  text-center w-full ">Copyright © James. All Rights Reserved</div>
</footer>